*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #c1a57b;
  color: #ff9c91;
}

.header{
  background-color: #30475e;
  height: 90px;
}

.main{

}

.header-logo{
  font-family: "American Typewriter";
  font-size: 36px;
  padding: 20px 40px;
}

.copy-container{
  font-family: Zapfino;
  color: #222831;
  font-size: 62px;
  padding: 20px 100px;
}
